
<div class="card square topic-tree scrollbar-ripe-malinka thin" style="background-color: rgba(23,149,255,0); border: 0px; padding-top: 10px;">
  <div class="card-body" style="padding: 0px;">
<p class="font-weight-normal rounded-bottom text-muted text-monospace" style="margin-bottom: 0px; margin-left: 10px; padding-top: 0px;">
  Article tree</p>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl"  class="example-tree rounded-bottom" style=" background-color: rgba(106,102,173,0); padding-top: 0px">

  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <div class="container">
    <li class="mat-tree-node TreeAngList rounded row" (click)="ViewTopic(node.id)" (mouseenter)="visibility[node.elementId] = false;" (mouseleave)="visibility[node.elementId] = true;">
      <!-- use a disabled button to provide padding for tree leaf -->

      <button mat-icon-button disabled></button>
      <div >
        {{node.name}}
      </div>
      <i *ngIf="node.type != 'Article'&& VisibleAddInput != node.elementId" (click)="VisibleAddInput = node.elementId" class="material-icons md-18" style="font-size: 15px; vertical-align: middle;cursor: pointer;opacity: 0.7;" [ngClass]="{invisible: visibility[node.elementId]}">
        add_circle
      </i>
      <i *ngIf="node.type != 'Article' && VisibleAddInput == node.elementId" class="material-icons" (click)="VisibleAddInput = -1" style="font-size: 15px;vertical-align: middle;cursor: pointer;opacity: 0.7;" [ngClass]="{invisible: visibility[node.elementId]}">
        remove_circle
      </i>

    </li>
      <li class="row">
    <div class="input-group mb-3" *ngIf="VisibleAddInput == node.elementId" style="padding-left: 10px; padding-right: 10px">
      <input [(ngModel)]="ItemData.title" type="text" class="form-control" placeholder="Add {{node.subItem}}" aria-describedby="button-addon">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" (click)="addItemBy(node.subItem, node.itemId)">Кнопка</button>
      </div>
    </div>
      </li>
    </div>
  </mat-tree-node>



  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node" (mouseenter)="visibility[node.elementId] = false;" (mouseleave)="visibility[node.elementId] = true;">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name" >
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <div>
        {{node.name}}
        </div>


        <i *ngIf="VisibleAddInput != node.elementId" class="material-icons" (click)="VisibleAddInput = node.elementId" style="font-size: 15px;vertical-align: middle;cursor: pointer;opacity: 0.7;" [ngClass]="{invisible: visibility[node.elementId]}">
          add_circle
        </i>
        <i *ngIf="VisibleAddInput == node.elementId" class="material-icons" (click)="VisibleAddInput = -1" style="font-size: 15px;vertical-align: middle;cursor: pointer;opacity: 0.7;" [ngClass]="{invisible: visibility[node.elementId]}">
          remove_circle
        </i>


      </div>

        <div class="input-group mb-3" *ngIf="VisibleAddInput == node.elementId" style="padding-left: 10px; padding-right: 10px">
          <input [(ngModel)]="ItemData.title"  type="text" class="form-control" placeholder="Add {{node.subItem}}"  aria-describedby="button-addon">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" (click)="addItemBy(node.subItem, node.itemId)">Кнопка</button>
          </div>
        </div>

      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">

          <ng-container matTreeNodeOutlet ></ng-container>




      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
</div>
</div>
