<app-nav-bar *ngIf="LetLogin() && getData() != null"><div class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div></app-nav-bar>
<!-- <app-registration></app-registration>-->
<app-login><div class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div></app-login>

<div class="container-fluid">
<div class="row" *ngIf="LetLogin() && getData() != null" >
  <div *ngIf="!HideTopic()" class="col-3 sidebar" style="padding-left: 0px;height: 90vh;">
    <app-topic-list *ngIf=" LetLogin() && getData() != null " style="padding-right: 0px; margin-right: 0px;"><div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div></app-topic-list>
  </div>
  <div class="col shadow" style="min-height: 80vh; padding-left: 0px; padding-right: 0px;">
    <app-article-block *ngIf="LetLogin() && getData() != null "><div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div></app-article-block>


  </div>


</div>

</div>
<app-footer><div class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div></app-footer>

