<app-nav-bar *ngIf="LetLogin() && getData() != null"></app-nav-bar>
<!-- <app-registration></app-registration>-->
<app-login></app-login>

<div class="container-fluid">
<div class="row" *ngIf="LetLogin() && getData() != null" >
  <div class="col-3 sidebar" style="padding-left: 0px">
    <app-topic-list *ngIf="LetLogin() && getData() != null" style="padding-right: 0px; margin-right: 0px;"></app-topic-list>
  </div>
  <div class="col-9 shadow" style="padding-left: 0px; padding-right: 0px;">
    <app-article-block *ngIf="LetLogin() && getData() != null "></app-article-block>
  </div>
</div>

</div>
