.navbar-my {
  background-color: #006d9c;
}
.left-column {
  background-color: #f7fdff;
  position: fixed;
  min-height: 100%;
}

.right-column {
  padding: 20px;
  margin-left: 25%;
}




/* Ниже копипаст с codepen */

*, *:before, *:after {
  box-sizing: border-box;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.line {
  height: 1px;
  background: #d2d2d2;
  margin: 30px;
}

ul ul {
  margin-left: 18px;
}

.submenu {
  display: none;
}

.list-item.base {
  padding-left: 10px;
}

li.parent {
  position: relative;
}
li.parent .arrow {
  position: absolute;
  left: 10px;
  top: 9px;
  width: 15px;
  height: 15px;
}
li.parent.open:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
li.parent.selected:before {
  border-left: 8px solid #fff;
}
li.parent:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5.5px solid transparent;
  border-bottom: 5.5px solid transparent;
  border-left: 8px solid #828282;
  display: inline-block;
  margin-right: 5px;
  margin-left: 2px;
  transition: color 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, color 0.2s;
  transition: transform 0.2s, color 0.2s, -webkit-transform 0.2s;
  position: absolute;
  top: 10px;
  left: 10px;
}

.list-item {
  line-height: 30px;
  cursor: pointer;
  display: block;
  color: #5a5a5a;
  padding: 0 10px 0 26px;
  border-radius: 4px;
  transition: background 0.2s;
  position: relative;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-item:hover {
  background: rgb(130, 240, 255);
}
.list-item.selected {
  background: #006d9c;
  color: #fff;
}

.sidebar {
  padding: 20px;
  width: 250px;
  display: inline-block;
  margin-right: 200px;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sidebar.folders .list-item {
  padding-left: 54px;
}
.sidebar.folders .list-item:after {
  content: "";
  background: url("https://d2slcw3kip6qmk.cloudfront.net/ux-assets/SVG/folder2.svg");
  width: 18px;
  height: 14px;
  position: absolute;
  left: 28px;
  top: 8px;
}
.sidebar.folders .shared:after {
  background: url("https://d2slcw3kip6qmk.cloudfront.net/ux-assets/SVG/folder-shared.svg");
}
.sidebar.folders .selected {
  background: #828282;
}
.sidebar.folders .selected.list-item:after {
  background: url("https://d2slcw3kip6qmk.cloudfront.net/ux-assets/SVG/folder2-white.svg");
}
.sidebar.folders .selected.shared:after {
  background: url("https://d2slcw3kip6qmk.cloudfront.net/ux-assets/SVG/folder-shared-white.svg");
}

